.recipe-page {
    background: #f6f1e7;
    padding-bottom: 80px;
}

.recipe-hero {
    text-align: center;
    max-width: 900px;
    margin: auto;
}

.recipe-badge {
    background: #ff6b57;
    color: #fff;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
}

.recipe-hero h1 {
    font-size: 48px;
    margin: 20px 0;
}


.recipe-meta {
    display: flex;
    justify-content: center;
    gap: 32px; 
    margin-bottom: 24px;
}

.meta-item {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.meta-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.meta-item span {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
}


.recipe-hero img {
    width: 100%;
    border-radius: 20px;
    margin-top: 30px;
}

.recipe-body {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    gap: 60px;
    max-width: 1100px;
    margin: 60px auto;
}

.recipe-text p {
    margin-bottom: 16px;
    line-height: 1.6;
}

.recipe-step {
    margin-bottom: 24px;
}

.recipe-sidebar .info-box {
    background: #ffffff;
    border-radius: 18px;
    padding: 24px;
    margin-bottom: 24px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.05);
}

.recipe-sidebar h4 {
    color: #ff6b57;
    font-size: 14px;
    margin-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.recipe-sidebar ul {
    padding-left: 18px;
}

.recipe-sidebar li,
.recipe-sidebar p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 6px;
}

.recipe-video {
    max-width: 900px;
    margin: 60px auto;
}

.recipe-video iframe {
    width: 100%;
    height: 400px;
    border-radius: 20px;
    border: none;
}

/* ЛЕВАЯ КОЛОНКА */
.recipe-text {
    max-width: 620px;
}

.recipe-section-title {
    font-size: 28px;
    margin: 48px 0 24px;
    font-weight: 700;
}

/* ШАГИ */
.recipe-step {
    margin-bottom: 32px;
}

.recipe-step-title {
    font-size: 14px;
    font-weight: 700;
    color: #ff6b57;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}

.recipe-step-text {
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

.back-button {
    display: inline-block;
    margin: 20px 0 0 40px; 
    text-decoration: none;
    color: #ff6b57;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    transition: transform 0.2s ease;
}

.back-button:hover {
    transform: translateX(-5px);
    color: #e55a46;
}

.VideoH2 {
    font-size: 40px;
    padding:  0  20px 0 250px;
}

@media (max-width: 768px) {
    .back-button {
        margin: 20px auto;
        display: table;
    }
}