

.hero {
  height: 75vh;
  margin: 30px;
  border-radius: 28px;

  background-image: url("./assets/images/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* затемнение */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 28px;
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 900px;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.hero-title {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #F0EBE1;
}

.hero-subtitle {
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto 30px;
  opacity: 0.9;
}

.hero-btn {
  background: #ffb300;
  color: #000;
  border: none;
  padding: 12px 28px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    transform 0.3s ease;
}

.hero-btn:hover {
  background: #ff7344;
  transform: translateY(-2px);
}

.palette {
  background: #d9efff;
  margin: 30px;
  border-radius: 28px;
  padding: 50px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.palette-left h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.palette-left p {
  font-size: 14px;
  margin-bottom: 25px;
  opacity: 0.8;
}

.badge {
  background: #ff6b4a;
  color: #fff;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 10px;
}

.outline-btn {
  background: transparent;
  border: 1px solid #000;
  padding: 10px 22px;
  border-radius: 12px;
  cursor: pointer;
}

.palette {
  padding: 70px ;   /* ← ВОТ ТУТ ВАЖНО */
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.palette-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.palette-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  width: 100%;
  padding: 16px 0;

  border-bottom: 1px solid rgba(0,0,0,0.25);

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.palette-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.palette-text {
  font-size: 16px;
}


.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #000;
}

.navbar-logo {
  width: 50px;
  height: 50px;

  background-image: url("./assets/images/Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  flex-shrink: 0;
}

.logo-text {
  font-weight: 700;
  line-height: 1.1;
}

.navbar {
  margin: 20px;
  padding: 14px 24px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.03);
}

.nav-link {
  font-weight: 600;
  color: #222;
  position: relative;
}

.nav-link:hover {
  color: #ff6b4a;
}

/* underline как в макете */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: #ff6b4a;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.search-btn {
  width: 44px;
  height: 44px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.2s;
}

.search-btn img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.search-btn:hover {
  background: #ff6b4a;
  color: #262522;
  border-color: #ff6b4a;
}


.featured {
  margin: 40px;
  padding: 60px 70px;
  border-color:#000;
}

.featured-title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.featured-card {
  background: #fff8ed;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 500px;
  transition:
  transform 0.35s ease,
  box-shadow 0.35s ease;
}

.featured-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.12);
}

.featured-image {
  position: relative;
}

.featured-image img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.featured-badge {
  position: absolute;
  top: 16px;
  right: 16px;

  width: 100px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-badge img {
  width: 70%;
  height: 70%;
  object-fit: contain;
  border: #009c1f solid 4px;
  border-radius: 50%;
}

.featured-content h3 {
  font-size: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
}

.featured-content p {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

.featured-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin-left: 20px;
  margin-right: 20px;
}

.featured-btn {
  background: transparent;
  border: 1px solid #000;
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 12px;
  cursor: pointer;
}

.featured-btn:hover {
  background: #000;
  color: #fff;
}

@media (max-width: 768px) {
  .featured-grid {
    grid-template-columns: 1fr;
  }

  .featured {
    margin: 20px;
  }
}


.subscribe {
  margin: 60px;
  padding: 70px 40px;

  background: linear-gradient(120deg, #EE6352, #ff753a);
  border-radius: 40px;

  text-align: center;
  color: #fff;

  position: relative;
  overflow: hidden;
  animation: gradientMove 10s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .gradient-box {
    animation: none;
  }
}


/* маленький текст сверху */
.subscribe-label {
  font-size: 14px;
  letter-spacing: 2px;
  opacity: 0.8;
}

/* большой заголовок */
.subscribe-title {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 800;
  margin: 20px 0;
}

/* описание */
.subscribe-text {
  max-width: 600px;
  margin: 0 auto 30px;
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.9;
}

/* форма */
.subscribe-form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.subscribe-form input {
  padding: 12px 20px;
  border-radius: 999px;
  border: none;
  width: 260px;
  outline: none;
}

.subscribe-form button {
  padding: 12px 22px;
  border-radius: 999px;
  border: none;

  background: #1e1e1e;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}

.footer {
  margin: 40px 60px;
  padding: 30px 40px;

  background: #1e1e1e;
  border-radius: 32px;

  color: #fff;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wb-text {
  font-weight: 700;
  line-height: 1.1;
}

.logo-wb {
  width: 70px;
  height: 70px;

  background-image: url("./assets/icons/logo-wb.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  flex-shrink: 0;
}

/* навигация */
.footer-nav {
  display: flex;
  gap: 24px;
}

.footer-nav a {
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}

.footer-nav a:hover {
  opacity: 1;
}

/* соцсети */
.footer-socials {
  display: flex;
  gap: 16px;
  font-size: 14px;
}

/* копирайт */
.footer-copy {
  text-align: center;
  margin-top: 20px;
  font-size: 10px;
  opacity: 0.6;
}

.github-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 6px;
}