@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat-semi";
  src: url("./assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 700;
}


body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-color: #F0EBE1;
}



h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
}
